.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
    color: #ddd;
    border-bottom: 2px solid #3c3c3c;
}

.logo {
    width: max(9.4vw, 120px);
}

.navbar ul {
    display: flex;
    gap: 40px;
}

.navbar ul li {
    cursor: pointer;
}


.nav-right {
    display: flex;
    align-items: center;
    gap: max(1vw, 12px);
}

.navbar select {
    padding: 6px 10px;
    border-radius: 6px;
    border: 2px solid #fff;
    background-color: transparent;
    color: #fff;
}

.navbar select option {
    background-color: #3c3c3c;
    color: #fff;
}


.navbar button {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 25px;
    font-weight: 500;
    font-size: 15px;
    color: #393939;
    background-color: #fff;
    border: none;
    border-radius: 12px;
    cursor: pointer;
}


.navbar button img {
    width: 13px;
}


@media (max-width: 900px) {
    .navbar {
        padding: 20px 8%;
    }

    .navbar button {
        gap: 8px;
        padding: 8px 18px;
        font-size: 14px;
    }
}


@media (max-width: 800px) {
    .navbar {
        padding: 20px 5%;
    }

    .navbar ul {
        display: none;
    }

    .navbar button img {
        width: 11.4px;
    }
}


@media (max-width: 380px) {
    .navbar button {
        padding: 10px 15px;
        font-size: 13px;
    }

    .navbar select {
        padding: 6px 6px;
        font-size: 13px;
    }

    .logo {
        width: 120px;
    }
}


@media (max-width: 350px) {

    .logo {
        width: 90px;
    }
}